.h2 {
   width: 100%;
   padding: 20px;
   text-align: center; 
   margin-bottom: 30px;
   color: whitesmoke;
   background-color: #0071BD;
}

.h3 {
    margin-left: 20px;
    color: #0071BD;
    transition: .4s ease-in-out;
    text-decoration: underline;
}

.description_text {
    padding : 30px;
    font-weight: 600;
    line-height: 2;
}